/* landing.module.css */

.landingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    margin: 0;
    overflow: hidden; /* Prevent scrolling */
    box-sizing: border-box; /* Include padding in width/height calculations */
}

.input {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #11121a;
    color:  #e6e6ef;
}


input:focus::placeholder {
    color: transparent;
  }

.timeContainer {
    display: flex;
    justify-content: center;
}

.time {
    width: 50px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #5e6265;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004080;
}
